#inter {font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: inherit;
background-color: darkgrey;
text-align: justify}
img {width: 300px;
box-shadow: 8px 8px 8px grey;
margin: 3%}
#tabla {font-family: Arial, Helvetica, sans-serif;
align-content: center;
background-color: khaki;}